

html{background-color: black;}

.cabecalho{display: flex;
padding: 40px;
justify-content: space-between;

}

.cabecalhozap{

    font-size: 60px;
    color: #25d366;
}

.img{
    border-radius: 50px;
    
    }

.titulo{color: red;
font-weight: 700;
color:red;

font-size: 36px;

    animation: piscaPisca 2s infinite;
    
}
@keyframes piscaPisca{
    0% {color: red; }
    5% {color: rgb(245, 4, 4);}
    15% {color: black;}
    30% {color: green;}
    30% {color: aqua;}

}

.zap{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: -30px;
    font-size: 30px;
    color: #25d366;
    

}




.subtitulo{color:white;
text-align: center;
font-size: 36px;}

.texto{color: white;
text-align: center;
font-size: 36px;}

.texto2{color: blue;
font-size: 32px;
margin: 20px;
text-align: center;}

.resposta{color: black;
font-size: 26px;
margin: 20px;
margin-bottom: 50px;}

.produto1{display: grid;
    grid-template-columns: repeat(3, auto);
    
}
   
.fotos{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    margin-top: 30px;

}

.fotocliente{
    width: 500px;
    height: 500px;
    margin: 6px;
    margin-top: 30px;
}


.videop{
    margin-bottom: 30px;
    margin: 5px;
    


}

.descricao{
    text-align: center;
    color: white;
margin: 60px;
margin-top: 30px;
font-size: 22px;
line-height: 30px;}





.btn{
margin: 60px;
font-size: 26px;
    width: 500px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #40c351;
    color: aliceblue;
    border-radius: 50px;

}

.comprar{
    display: flex;
    justify-content: center;
}

a{text-decoration: none;
color: white;}



.btn:hover{
    transform: translate(-10px, -10px);
    background-color:red;
   transition: 400ms;
color: aliceblue;
}


.valorantigo{color: #25d366;
text-align: center;
text-decoration: line-through;
font-size: 24px;}

.queimaestoque{color:red;
    animation: piscaPisca 2s infinite;
}
@keyframes piscaPisca{
    10% {color: white;}
    10% {color:white;}
    15% {color: black;}
    30% {color:white;}

}

.maisinfo{color: #40c351;}

.destaque{color: red;
font-weight: 700;}

.span{color:red;
animation: blink 3s infinite;}

.rodape{color: white;
font-size: 18px;
text-align: center;}

.confira{
    color: blue;
}

@media(max-width: 425px) 
{

    .cabecalhozap{

        font-size: 30px;
        color: #25d366;
    
    }

.cabecalho{
    display: block;
text-align: center;
padding: 50px;
}

    html{background-color: black;}

   .titulo{
    font-size: 16px;
    margin-top: 50px;
margin-bottom: 30px;}
   
    .texto{font-size: 18px;
    justify-content: center;}  

    .container{display: block;
        align-items: center;
    margin-left: 20px;}

    .videop{
        width: 250px;
        height: 100px;
        margin-left: 20px;
    }

    .fotocliente{display: block;
        margin-left: 70px;
        width: 150px;
    height: 100px;
align-items: center;}

.btn{
    width: 150px;
font-size: 12px;}
    
    .comprar{
        display: block;
        
        width: 100px;
        font-size: 14px;
    }

    .descricao{
        font-size: 20px;
       text-align: center;
        
    }

    .valorantigo{
        text-align: center;
    }

    .queimaestoque{
        font-size: 20px;
    }

    .zap{font-size: 20px;
         margin-left: -22px;}

         .produto1{
            
            display: block;
            grid-template-rows: repeat(6, auto);

         }
}