html{background-color:rgb(117, 99, 99);}



.titulo{color: red;
text-align: center;
color:red;
padding: 40px;
    animation: piscaPisca 2s infinite;
}
@keyframes piscaPisca{
    0% {color: red; }
    5% {color: rgb(245, 4, 4);}
    15% {color: black;}
    30% {color: green;}
    30% {color: aqua;}

}

.zap{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: -30px;
    font-size: 30px;
    color: #25d366;
    
  
}



.subtitulo{color: aqua;
text-align: center;}

.texto{color: aliceblue;
text-align: center;
font-size: 36px;}

.texto2{color: aquamarine;
font-size: 32px;
margin: 20px;
text-align: center;}

.resposta{color: thistle;
font-size: 26px;
margin: 20px;
margin-bottom: 50px;}

.container{display: grid;
  justify-content: center;
    grid-template-columns: repeat(2,auto);
}
   


.videop{margin-left: 60px;
    width: 500px;
    height: 400px;


}

.descricao{
    text-align: center;
    color: aliceblue;
margin: 60px;
margin-top: -15PX;
font-size: 22px;
line-height: 30px;
width: 500px;}



.btn{display: flex;
margin: 60px;
font-size: 26px;
    width: 500px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #40c351;
    color: aliceblue;
    border-radius: 50px;

}

a{text-decoration: none;
color: white;}

.btn:hover{
    transform: translate(-10px, -10px);
    background-color:red;
   transition: 400ms;
color: aliceblue;
}


.valorantigo{color: aquamarine;
text-align: center;
text-decoration: line-through;
font-size: 24px;}

.queimaestoque{color:red;
    animation: piscaPisca 2s infinite;
}
@keyframes piscaPisca{
    10% {color: white;}
    10% {color:white;}
    15% {color: black;}
    30% {color:white;}

}



.maisinfo{color: #40c351;}

.destaque{color: red;}

.span{color:red;
animation: blink 3s infinite;}

@media(max-width: 425px) 
{

    html{background-color: dimgrey;}

   .titulo{margin-top: 50px;}
   
    .texto{font-size: 18px;
    justify-content: center;}  

    .container{display: block;
    margin-left: 20px;}

    .videop{margin-left: 60px;
        width: 200px;
        height: 400px;
        align-items: center;
    }
    
    .btn{
        width: 200px;
        font-size: 16px;
    }

    .descricao{
        font-size: 16px;
        width: 250px;
       
        margin-left: 40px;
    }

    .valorantigo{
        text-align: center;
    }

    .queimaestoque{
        font-size: 20px;
    }

    .zap{font-size: 20px;
         margin-left: -22px;}
}