html{background-color: black;}

.info{} 

.titulo{color: red;
text-align: center;
color:red;
    animation: piscaPisca 2s infinite;
}
@keyframes piscaPisca{
    0% {color: red; }
    5% {color: rgb(245, 4, 4);}
    15% {color: black;}
    30% {color: green;}
    30% {color: aqua;}

}

.subtitulo{color: aqua;
text-align: center;}

.texto{color: aliceblue;
text-align: center;
font-size: 36px;}

.texto2{color: red;
font-size: 28px;
margin: 20px;
text-align: center;}

.resposta{color: thistle;
font-size: 26px;
margin: 20px;}

.container{display: grid;
    grid-template-columns: repeat(2, auto);
justify-content: center;
   
}




.videop{margin-left: 60px;
    width: 500px;
    height: 400px;


}

.descricao{
    text-align: center;
    color: aliceblue;
margin: 60px;
margin-top: -15PX;
font-size: 22px;
line-height: 30px;
width: 500px;}



.btn{display: flex;
margin: 60px;
font-size: 26px;
    width: 500px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #40c351;
    color: aliceblue;
    border-radius: 50px;

}

a{text-decoration: none;
color: white;}

.btn:hover{
    transform: translate(-10px, -10px);
    background-color:red;
   transition: 400ms;
color: aliceblue;
}


.valorantigo{color: aquamarine;
text-align: center;
text-decoration: line-through;
font-size: 24px;}

.queimaestoque{color:red;
    animation: piscaPisca 2s infinite;
}
@keyframes piscaPisca{
    0% {color: red; }
    10% {color: rgb(245, 4, 4);}
    15% {color: black;}
    30% {color: green;}

}

.maisinfo{color: #40c351;}

.destaque{color: red;}

span{color:red;
animation: blink 3s infinite;}

@media(max-width:325px) {
    .container{display: block;
        justify-content: center;}
    
    .videop{margin-left: 60px;
        justify-content: center;
        width: 200px;
        height: 150px;}

        .titulo{font-size: 24px;}

        .subtitulo{color: aqua;
            text-align: center;
        font-size: 16px;}

        .texto2{color: aquamarine;
            font-size: 20px;
            margin: 20px;
        text-align: center;}

            .resposta{color: thistle;
                font-size: 18px;
                margin: 20px;
            text-align: center;
        line-height: 25px;}

                .descricao{
                    text-align: center;
                    color: aliceblue;
                margin: 60px;
                margin-top: -15PX;
                font-size: 22px;
                line-height: 30px;
                width: 200px;}

                .btn{display: flex;
                    margin: 60px;
                    font-size: 14px;
                        width: 200px;
                        height: 50px;
                        justify-content: center;
                        align-items: center;
                        margin-top: 10px;
                        background-color: #40c351;
                        color: aliceblue;
                        border-radius: 50px;
                    
                    }
    
    
}